.sidebar {
  flex: 0.2;
  background-color: white;
  height: 100vh;
  padding: 20px 0;
  position: sticky;
  top: 56px;
}

.sidebar__category {
  padding: 10px 0;
}

.sidebar__category h3 {
  padding: 0 24px;
  font-size: 14px;
  color: #606060;
  margin-bottom: 10px;
}

.sidebar__categoryItem {
  display: flex;
  align-items: center;
  padding: 10px 24px;
  cursor: pointer;
  color: #030303;
}

.sidebar__categoryItem:hover {
  background-color: #f2f2f2;
}

.sidebar__categoryItem.active {
  background-color: #e5e5e5;
}

.sidebar__categoryItem i {
  margin-right: 20px;
  font-size: 20px;
}

.sidebar__categoryItem span {
  font-size: 14px;
}

hr {
  height: 1px;
  border: 0;
  background-color: #e5e5e5;
  margin: 10px 0;
} 